Repository hagenstrahl/next-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, stylelint . --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint . --fix",
  "**/*.{css,scss}": "stylelint . --fix",
  "unstaged": true
}

remove unused config
  .huskyrc.json
  .lintstagedrc.json
Due: none

test
  pages/_app.tsx
Due: eslint . --fix

removes testRegex to use default pattern
  jest.config.js
Due: none

uses watchAll for jest
  package.json
Due: none

Feature/jest (#14)
  .babelrc
  .gitignore
  __tests__/index.test.tsx
  jest.config.js
  jest.setup.js
  package.json
  setupTests.js
  tsconfig.json
  yarn.lock
Due: eslint . --fix

integrate husky and lint-staged (#15)
  package.json
  yarn.lock
Due: none

runs jest tests on every pull-request to main-branch
  .github/workflows/unit-tests.yml
Due: none

runs github-action on normal push
  .github/workflows/unit-tests.yml
Due: none

label in kebab-style
  .github/workflows/unit-tests.yml
Due: none

Update .github/workflows/unit-tests.yml
  .github/workflows/unit-tests.yml
Due: none

runs jest tests on every pull-request to main-branch (#19)
  .github/workflows/unit-tests.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Create dependabot.yml (#21)
  .github/dependabot.yml
Due: none

delete yarn.lock
  yarn.lock
Due: none

ignore future yarn.lock
  .gitignore
Due: none

configure eslint
  .eslintrc.json
  next-env.d.ts
  package.json
  pages/index.tsx
Due: eslint . --fix

update all dependencies
  .eslintrc.json
  .prettierignore
  __tests__/index.test.tsx
  jest.config.js
  next-env.d.ts
  package.json
  pages/api/hello.ts
  tsconfig.json
Due: eslint . --fix

add linting workflow
  .github/workflows/lint.yml
Due: none

fix stylelint
  .stylelintrc.json
  package.json
  styles/Home.module.scss
  styles/globals.scss
Due: stylelint . --fix

remove babelrc to use swc compiling
  .babelrc
  package.json
Due: none

fix jest
  jest.config.js
  package.json
  tailwind.config.js
Due: none

update nextjs
  package.json
Due: none

update all dependencies (#123)
  .babelrc
  .eslintrc.json
  .github/workflows/lint.yml
  .prettierignore
  .stylelintrc.json
  __tests__/index.test.tsx
  jest.config.js
  next-env.d.ts
  package.json
  pages/api/hello.ts
  styles/Home.module.scss
  styles/globals.scss
  tailwind.config.js
  tsconfig.json
Due: eslint . --fix, stylelint . --fix

upgrade configuration
  .gitignore
  tailwind.config.js
  yarn.lock
Due: none

ignore yarn.lock
  .gitignore
  yarn.lock
Due: none

ignore .vscode
  .gitignore
Due: none
